body{
    font-size: 14px;
    color: white;
    background: #114357;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F29492, #114357);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F29492, #114357); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}
*,*:before,*:after{
    box-sizing: border-box;
}

/*Header===
=================*/
.header{
}
.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #585353;
    padding: 0 20px 10px;
}

.nav__link{
    vertical-align: center;
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
    font-weight: 700;
    transition: color .25s linear;
    margin-left: 15px;
}
.nav__link:first-child{
    margin-left: 0;
}
.nav__link:hover{
    color: #e0992e;
}


.intro{
    margin: 0 auto;
}
.intro__title{
    margin: 150px 0;
    text-transform: uppercase;
    font-size: 65px;
    text-align: center;
    font-weight: 700;
}

.about__inner{
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.about__text{
    margin-left: 25px;
    font-size: 20px;
}

.footer__inner{
    text-align: center;
}
.tel,.email,.social__icon{
    width: 33.333%;
    margin-left: 25px;
    font-size: 20px;
    font-weight: 700;
}
.social{
    color: darkred;
}